# mpcontainer git ignore:
#
localdata/
dev-vm/.vagrant/
music/db/*
kubernetes/pv-*
container-web/node_modules/*
container-pyapp/*.pyc
#
# Win
Thumbs.db
# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
