# mpcontainer git ignore:
#
localdata/*
!localdata/.gitkeep
vagrant-dev-vm/.vagrant/
music/db/*
!music/db/.gitkeep
linode/terraform/lke/.terraform
linode/terraform/lke/terraform.tfstate*
linode/terraform/lke/.terraform.tfstate.lock.info
#
# Win
Thumbs.db
#
# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
