#
# MPContainer compose
#
version: '3.7'
services:
  # ------ mpcontainer-frontend ------
  frontend:
    image: crgm/mpcontainer-frontend:latest
    container_name: haproxy
    restart: on-failure:5
    environment:
      - HAPX_US_PASS=leftthedefault2
    cap_drop:
      - setfcap
      - net_bind_service
      - dac_override
      - net_raw
    cap_add:
      - chown
      - dac_override
      - setgid
      - setuid
    ports:
      - "3000:3000"
    networks:
      - webfrontnet
      - webfrontmpd
    depends_on:
      - backendweb
      - mpcpyapp
    labels:
      kompose.service.type: LoadBalancer
  # ------ mpcontainer-web ------
  backendweb:
    image: crgm/mpcontainer-web:latest
    container_name: backendweb
    restart: on-failure:5
    expose:
      - "8880"
    networks:
      - webfrontnet
  # ------ mpcontainer-mpd ------
  backendmpd:
    image: crgm/mpcontainer-mpd:latest
    container_name: backendmpd
    restart: on-failure:5
    volumes:
        - ./music/db:/var/lib/mpd/music:ro
    cap_drop:
      - net_bind_service
      - chown
      - mknod
      - dac_override
    expose:
      - "6600"
      - "3123"
    networks:
      - webfrontmpd
      - mpdadmin
  # ------ mpcontainer-shell ------
  adminmmpd:
    image: crgm/mpcontainer-shell:latest
    container_name: adminshell
    environment: 
        - TZ=UTC
    restart: on-failure:5
    cap_drop:
      - fsetid
      - setgid
      - mknod
      - net_bind_service
      - dac_override
    expose:
      - "7681"
    networks:
      - webfrontnet
      - mpdadmin
    depends_on:
      - backendmpd
  # ------ mpcontainer-pyapp ------
  mpcpyapp:
    image: crgm/mpcontainer-pyapp:latest
    container_name: mpcpyapp
    environment:
      - TZ=UTC
      - env_mpcpyapp_dev=false
      - env_mpypyapp_envtest=docker_compose
    cap_drop:
      - net_bind_service
      - chown
      - dac_override
      - fsetid
      - setgid
    expose:
      - "8888"
    networks:
      - webfrontnet
      - mpdadmin
    depends_on:
      - backendmpd

networks:
  webfrontnet:
    driver: bridge
  webfrontmpd:
    driver: bridge
  mpdadmin:
    driver: bridge