# MPContainer frontend haproxy.cfg
# https://www.haproxy.org/download/2.1/doc/configuration.txt

#
# global config
#

global
    maxconn 600
    quiet
    log stdout format raw local0
    #stats socket /tmp/hapstat.socket mode 660
    #stats timeout 2m
    #chroot /var/lib/haproxy
    #user haproxy
    #group haproxy

defaults
    mode http
    option httplog
    log global
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    maxconn 500

listen stats
    bind 127.0.0.1:8404
    stats enable
    stats hide-version
    stats uri /hastats/
    stats refresh 60s


#
# front listener
#

frontend balancer
    bind 0.0.0.0:3001
    bind :::3001
    mode http
    http-request deny if HTTP_1.0
    # blocks
    acl network_allowed src 127.0.0.1
    acl restricted_page path_beg /ping/
    use_backend http_trap if restricted_page !network_allowed
    # Server: hastats
    use_backend http_hastat if { path_beg /hastats/ }
    # Server: mpd admin shell
    use_backend http_admin if { path_beg /admin/shell }
    # Server: mpd stream
    acl url_stream path_beg /mpd/
    use_backend http_stream1 if url_stream
    # Server: mpc py all
    acl url_pyapp path_beg /pyapp/
    use_backend http_mpcpyapp1 if url_pyapp
    # tarpit
    use_backend http_trap if { path /admin/ }
    use_backend http_trap if { path /login/ }
    use_backend http_trap if { path /tarpit/ }
    # Server: default nginx backend
    default_backend http_static1


#
# backends
#

# default static http
backend http_static1
    mode http
    option forwardfor
    balance roundrobin
    option httpchk http://backendweb:8880/ping/stat
    http-check expect status 200
    http-request add-header X-Forwarded-For %[src]
    http-response set-header X-Clacks-Overhead "GNU Terry Pratchett"
    server backendweb backendweb:8880 check maxconn 400

# haproxy statistics
backend http_hastat
    mode http
    option forwardfor
    balance roundrobin
    server http_hastat 127.0.0.1:8404 maxconn 400

# web console
backend http_admin
    mode http
    option forwardfor
    balance roundrobin
    server adminmmpd adminmmpd:7681/admin/shell check maxconn 10

# MPD stream
backend http_stream1
    mode http
    option forwardfor
    balance roundrobin
    server backendmpd backendmpd:3123 maxconn 400

# MPC Py App
backend http_mpcpyapp1
    mode http
    option forwardfor
    balance roundrobin
    http-request set-path "%[path,regsub(^/pyapp/,/)]"
    server pyapp pyapp:8888 maxconn 400

# trap
# tarpit responses in haproxy return a http 500 on purpose
backend http_trap
    mode http
    timeout tarpit 60s
    timeout tunnel 30m
    http-request tarpit
