apiVersion: v1
kind: PersistentVolume
metadata:
  name: music-pv
  namespace: musicplayer
  labels:
    type: music
spec:
  volumeMode: Filesystem
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: slow
  mountOptions:
    - ro
  capacity:
    storage: 12T
  nfs:
    path: /some/path
    server: nfsservernameorip
